# project specific
*.log
*.zip

#  Local .terraform directories
.terraform/

# MacOS
.DS_Store

# vscode
.vscode

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore this file
!tfmodule-template.tf
