<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#staleusers').DataTable( {
              columnDefs: [
                {
                    targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }
              ]
          } );
        } );
    </script>
</head>
<body>

<table id="staleusers" class="mdl-data-table" width="100%">
        <thead>
            <tr>{% for key in user_list['120'][0] %}{% if key != "dn" %}
                <th>{{key}}</th>{% endif %}{% endfor %}
            </tr>
        </thead>
        <tbody>{% for group in user_list %}{% for user in user_list[group] %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.days_since_last_pwd_change }}</td>
          </tr>{% endfor %}{% endfor %}
        </tbody>
        <tfoot>
            <tr>{% for key in user_list['120'][0] %}{% if key != "dn" %}
                <th>{{key}}</th>{% endif %}{% endfor %}
            </tr>
        </tfoot>
    </table>

</body>
</html>
